$background:#c3cfe2;
$background2: #fff;
$backgroundbox2:#686de0;
$textcolor: #fff;
@import './main';
@import './img';

/*eerste opdracht */
body{
    background-color: $background;
    .box {
        position: absolute;
        background-color: $background2;
        height: 650px;
        width: 450px;
        box-shadow: 5px 10px rgba(148, 144, 144, 0.336);
        border-radius: 25px;
        .maintext {
            @include text();
        }
    }
}
footer{
    color:$textcolor;
    h2{
        margin-bottom: 0px;
    }
    h4{
        margin: 2px;
    }
    .box2{
        position: absolute;
        background-color: $backgroundbox2;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        bottom: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
/*einde eeste opdracht*/

/*Tweede opdracht*/
@import './portfolio';
/*einde tweede opdracht */ 

/* begin derde opdracht */
@import './media';
/* einde derde opdracht*/
